{% extends "core/base.html" %}

{% block title %} Meus Eventos {% endblock %}

{% block content %}
    <br><br>
    {% for evento in evento_list %}

        <article>
            <h2>
                <ul>
                    <li>
                        <a href="{{ evento.get_absolute_url }}">
                            {{evento.nome}}
                        </a>
                    </li>
                </ul>
            </h2>

            <p>
                Descrição: {{ evento.descricao }}
            </p>

            <p class="date">
                Data início - {{ evento.data_inicial }} | Data fim - {{ evento.data_final }}
            </p>

            <p>
                {{evento.atração.objects.all}}
            </p>
            
            <div>
                <h4>Atrações: </h4>
                {% for atracao in evento.atracao_set.all %}
                <ul>
                    <li>
                        <a href="{% url 'core:detail-atracao' pk=atracao.id %}">{{atracao}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>
            
        <hr>
        </article>

    {% endfor %}

{% endblock %}


