{% extends "core/base.html" %}

{% block title %} Meus Eventos {% endblock %}

{% block content %}

    {% for evento in evento_list %}

        <article>
            <a href="{{ evento.get_absolute_url }}">
                {{evento.nome}}
            </a>

            <p>
                Descrição: {{ evento.descricao }}
            </p>

            <p class="date">
                Data início - {{ evento.data_inicial }} | Data fim - {{ evento.data_final }}
            </p>

            <p>
                {{evento.atração.objects.all}}
            </p>
            
            <div>
                <h3>Atrações: </h3>
                {% for atracao in evento.atracao_set.all %}
                <ul>
                    <li>
                        <a href="{% url 'core:detail-atracao' pk=atracao.id %}">{{atracao}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>
            
            <h5>
                <a href="{{ evento.get_absolute_url }}">
                    Clique aqui para maiores informações do evento {{evento.nome}}
                </a>
            </h5>
            <p> ________________ </p>
            
        </article>

    {% endfor %}

{% endblock %}


