{% extends "core/base.html" %}

{% block title %} {{ evento.nome }} {% endblock %}

{% block content %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>

    <h2>{{ evento.nome }} - Aqui estou mostrando um único Evento e seus detalhes </h2>
   
    <p>
        Descrição: {{ evento.descricao }}
    </p>

    <p class="date">
        Data início - {{ evento.data_inicial }} | Data fim - {{ evento.data_final }}
    </p>

    <p>
        <div>
            <p>Atrações: </p>
            {% for atracao in evento.atracao_set.all %}
                <ul>
                    <li>
                        <a href="{% url 'core:detail-atracao' pk=atracao.id %}">{{atracao}}</a> 
                    </li>
                </ul>
                
            {% endfor %}
        </div>
    </p>
    <button type="button" class="btn btn-secondary" onclick="goBack()">Voltar</button>
    
    
{% endblock%}