{% extends "core/base.html" %}

{% block title %} {{ evento.nome }} {% endblock %}

{% block content %}

    <h2>{{ evento.nome }} - Aqui estou mostrando um único Evento e seus detalhes </h2>
   
    <p>
        Descrição: {{ evento.descricao }}
    </p>

    <p class="date">
        Data início - {{ evento.data_inicial }} | Data fim - {{ evento.data_final }}
    </p>

    <p>
        <div>
            <p>Atrações: </p>
            {% for atracao in evento.atracao_set.all %}
                <ul>
                    <li>
                        <a href="{% url 'core:detail-atracao' pk=atracao.id %}">{{atracao}}</a> 
                    </li>
                </ul>
                
            {% endfor %}
        </div>
    </p>
    <a href="{% url 'core:update' pk=evento.pk %}">Editar {{evento.nome}}</a>
    <a href= '/core/'>Voltar</a>
    
    
{% endblock%}